
.header { 

    font-family: 'Roboto';
    background-color: #1F2937;
    padding: 20px 50px; 
    margin: auto;
    

   

}


.logo { 
font-size: 24px;
color: #F9FAF8;

}

.liste {

    list-style: none;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    flex-direction: row;

    gap: 8px;
    
    

}

.container1 {
    
    display: flex;
    
    align-items: center;
   
    justify-content: center;
    align-items: center;

   

    
    

}

.titre2 {

    font-size: 48px ;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: -20px;
    

}

.texte1 {

    font-size: 18px;
    color: #e5e7eb;
    opacity: 0.8;


}

.boutton1{

    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 15%;
    
    
    cursor: pointer;
    max-width: 60px;
    border-radius: 12px;
    margin-bottom: 40px;
    border: #3882f6 ;


    

}

.image1 {


        width: 400px;
        height: auto;
        display: block;              /* standard */
        margin-left: 20px;        
    
    


}

.partiehaut {

display: flex;
justify-content: space-between;
align-items: center;

}

.textecontainer {
    display: flex;
    flex-direction: column;
   
   
    max-width: 400px;
    
}

ul {
    cursor: pointer;
    opacity: 0.8;
}

.image-placeholder {
    width: 200px;
  aspect-ratio: 1 / 1;

  background-color: #ffffff;
  border: 4px solid #2c81e9; /* bleu clair */

  border-radius: 12px;
}

.infobox {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    font-family: 'Roboto';
    

}

.texte4 {
    font-size: 18px;
    color: #828c9e;
    font-family: 'Roboto';
    opacity: 1;
    text-align: center;

}

.infobox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.core {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;
}

.item {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    gap: 5px;
}

.quotecontainer {
    margin-top: 40px;
    background-color: #E5E7EB;
    padding: 90px;
    font-family: 'Roboto';


}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.quoting {
    font-size: 24px;
    color: #1F2937;
    font-family: 'Roboto';
    margin-left: 1000px;
     
}

.calltoaction {

    
    max-width: 700px;
    margin: 100px auto;
   
    padding: 30px 40px;
    background-color: #3882f6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;

}

.call {
    font-size: 24px;
    font-size: 'Roboto';
    color: #E5E7EB;
    margin: 0px;
    margin-bottom: -15px;

}

.petittexte {
    font-size: 18px;
    font-family: 'Roboto';
    color: #ffffff;
    margin-bottom: 100px;

}

.boutton12 {
   
    font-size: 18px;
    font-family: 'Roboto';
    
    color: #E5E7EB;             
    background-color: transparent;   
    
    border: 2px solid #E5E7EB;       
    border-radius: 12px;              
    
    padding: 12px 20px;             
    
    cursor: pointer;
    transition: all 0.3s ease; 
    margin-left: 30px;

}

.boutton12:hover {
    background-color: #E5E7EB;       
    color: #3882f6;                   
    transform: scale(1.05);           
  }

.item1 {
    display: flex;
    flex-direction: column;

}

.footer {

    background-color: #1F2937;
    padding: 20px 0;
    margin-top: 150px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.fin {
    font-size: 18px;
    font-family: 'Roboto';
    color: #e5e7eb;
    opacity: 0.8;
}
/* comprendre pourquoi les footer header et autre ne sont pas 100% push contre les murs*/
